---
// Astro
import { getEntry } from "astro:content";

// import utils
import slugify from "@sindresorhus/slugify";

// import layouts
import BaseLayout from "../../layouts/BaseLayout.astro";
import Flex2ColLayout from "../../components/layouts/Flex2ColLayout.jsx";

// import components
import SectionTitle from "../../components/SectionTitle.jsx";
import ImageWrapper from "../../components/ImageWrapper.astro";
import ImageColumn from "../../components/ImageColumn.jsx";
import MarkdownContent from "../../components/MarkdownContent.jsx";
import Link from "../../components/Link.jsx";

// import featured artwork
const featuredArtwork = await getEntry('settings', 'main-hero');
const { image, image_alt } = featuredArtwork.data;

// import Contact page settings
const contactMe = await getEntry('settings', 'contact-me');
const { title, success_heading, success_message } = contactMe.data;
---

<BaseLayout 
   pageTitle="Contact Success"
>  
   <div transition:animate="fade" class="max-w-xl md:max-w-none">
      <Flex2ColLayout>
         <MarkdownContent heading={success_heading}>
            <p>{success_message}</p>
            <Link 
               inline 
               href="/"
               classes="decoration-transparent underline underline-offset-4 hover:decoration-primary-text"
            >
               Go back home
            </Link>
         </MarkdownContent>
         
         <ImageColumn>
            <ImageWrapper 
               src={image} 
               alt={image_alt} 
               width={768}
               quality={50}
               loading="eager"
               classes=""
               transition:animate="fade"
               transition:name={`${slugify(image.src)}`} 
            />
         </ImageColumn>
      </Flex2ColLayout>
   </div>
</BaseLayout>