---
// Astro
import { getEntry } from 'astro:content';

// get sitewide config
import * as SitewideConfig from "../configuration/SitewideConfig.md";

// import layout
import BaseLayout from '../layouts/BaseLayout.astro';
import FeaturedArtworkLayout from '../components/layouts/FeaturedArtworkLayout.jsx';

// import components
import ImageWrapper from "../components/ImageWrapper.astro";
import ImageCTA from "../components/ImageCTA.jsx";

// import Featured Artwork
const featuredArtwork = await getEntry('settings', 'main-hero');
const { Content } = await featuredArtwork.render();

// import NetlifyIdentity
import { NetlifyIdentity } from '../components/NetlifyIdentity.jsx'
---

<BaseLayout 
	pageTitle="Artist"
	ogTitle={`${SitewideConfig.frontmatter.site_name} - Artist`}
	blurredBg={featuredArtwork.data.image}
>
	
	<FeaturedArtworkLayout 
		width={featuredArtwork.data.image.width} 
		height={featuredArtwork.data.image.height}
	>
		<div slot="image">
			<ImageWrapper 
				src={featuredArtwork.data.image}
				alt={featuredArtwork.data.image_alt}
				quality="low"
				loading="eager"
				noWidth
			/>
		</div>
		<ImageCTA>
			<Content />
		</ImageCTA>
	</FeaturedArtworkLayout>

	<!-- Netlify Identity -->
	<NetlifyIdentity client:only="react" />
</BaseLayout>
