---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

// import utils
import slugify from "@sindresorhus/slugify";
import { getLatestOfArtType } from "../utils/imageTools.js";

// get art type background
const artwork = await getCollection("artwork");

// art types array
const artTypes = [
   { 
      route: "/painting", 
      label: "Paintings", 
      image: getLatestOfArtType("painting", artwork), 
   },
   { 
      route: "/drawing", 
      label: "Drawings",
      image: getLatestOfArtType("drawing", artwork), 
   },
   { 
      route: "/sculpture", 
      label: "Sculptures",
      image: getLatestOfArtType("sculpture", artwork), 
   }
]

const props = Astro.props;
const { pathname } = Astro.url;

const commonClasses = "group absolute z-10 backdrop-blur-lg flex justify-center items-center w-full h-full rounded-full p-1 decoration-2 underline-offset-4"
---

{artTypes.map(({route, label, image, image_alt}) => {
   return (
      <li class={`relative w-[6.5rem] h-[6.5rem] rounded-full overflow-hidden transition-all duration-700 `}>
         <a 
            href={`${route}`} 
            class={`
               ${commonClasses}  
               ${pathname === `/${slugify(route)}` 
                  ? "backdrop-saturate-100  !decoration-inherit  dark:backdrop-brightness-125" 
                  : `${pathname.includes("/", 1) 
                     ? "bg-transparent border-2 border-primary-dark/10 dark:border-primary/10" 
                     : ""} decoration-transparent hover:underline hover:decoration-inherit `
               }
            `}
         >
            <span class={`${pathname === `/${slugify(route)}` ? "underline decoration-2" : ""} decoration-inherit group-hover:decoration-2`}>{label}</span>
         </a>
         {
            // Return ArtTypes background image only if NOT on a single artwork page

            image && !pathname.includes("/", 1) &&
            <Picture
               src={image}
               formats={['avif', 'webp']}
               fallbackFormat="jpg"
               alt=""
               role="presentation"
               quality={1}
               width={25}
               loading="eager"
               class="hidden supports-filter:block [filter:saturate(3)brightness(110%)contrast(0.8)] fade-edge w-full h-full scale-125 object-cover rounded-full"
            />
         }
      </li>
   )
})}
