---
// Astro
import { getCollection } from "astro:content";

// Expose site configuration for CMS
import { frontmatter } from "../configuration/SitewideConfig.md";
const featuredTitle = frontmatter.homepage_featured_section_title;

// import components
import ImageWrapper from "./ImageWrapper.astro";
import SectionTitle from "./SectionTitle.astro";
import ArtDetails from "./ArtDetails.astro";
import FullArtwork from "./FullArtwork.astro";

// import utils
import { truncateTextToPeriod } from "../utils/textTools.js";

// import Featured Artwork
const featuredArtwork = await getCollection('artwork', ({data}) => {
   // prevent draft posts from showing in feature
   return data.draft !== true && data.featured === true;
});
// const allArtwork = await Astro.glob("../pages/artwork/*.md");
// const featuredArtwork = allArtwork.filter((artwork) => artwork.data.featured === true);
---

<section class="py-10 m-auto max-w-screen-2xl">
   <SectionTitle title={featuredTitle} />
   <div class="w-full flex gap-1 flex-col md:flex-row">
      {
         featuredArtwork.map((entry) => {
            return (
               <div class="mb-10 last-of-type:mb-0">
                  <FullArtwork 
                     title={entry.data.title} 
                     date={entry.data.date}
                     tags={entry.data.tags}
                     href={`${entry.collection}/${entry.slug}`}
                     images={entry.data.images[0]}
                  />
               </div>
               
            )
         })
      }
   </div>
</section>