---
// import components
import FullArtwork from "../components/FullArtwork.astro";

const { artwork, showDescriptions } = Astro.props;
---

<div class="w-full grid grid-flow-dense gap-4 lg:items-center lg:grid-cols-2 xl:grid-cols-3 md:px-4">
   {
      artwork.map((entry) => {
         return (
            <div class="">
               <FullArtwork 
                  title={entry.data.title} 
                  date={entry.data.date}
                  artType={entry.data.art_type}
                  tags={entry.data.tags}
                  href={`${entry.data.art_type}/${entry.slug}`}
                  mainImage={{
                     src: entry.data.image,
                     alt: entry.data.main_image_alt
                  }}
                  images={entry.data.images}
                  description={showDescriptions && entry.data.description}
               />
            </div>
         )
      })
   }
</div>