---
// import components
import FullArtwork from "../components/FullArtwork.astro";

const { artwork } = Astro.props;
---

<div class="w-full grid grid-flow-dense gap-4 md:px-4 sm:grid-cols-2 items-center xl:grid-cols-6" >
   {
      artwork.map((entry, i) => {
         
         //          ${i % 3 === 1 && entry.data.image.width < entry.data.image.height ? "md:col-span-2" : ""} 
         const image = entry.data.image;

         return (
            <div 
               class={`sm:col-span-1 md:col-span-1 xl:col-span-2
                  ${image.width > 1.5 * image.height && image.width < 1.74 * image.height ? "sm:col-span-2 md:col-span-2" : "xl:col-span-2"} 
                  ${image.width > 1.75 * image.height && i % 2 !== 1 ? "sm:col-span-2 md:col-span-2 xl:col-span-6" : "xl:col-span-2"} 
                  ${image.height > 1.6 * image.width ? "xl:col-span-4 xl:row-span-2" : ""} 
               `}
            >
               <FullArtwork 
                  sold={entry.data.sold} 
                  title={entry.data.title} 
                  date={entry.data.date}
                  artType={entry.data.art_type}
                  href={`/${entry.data.art_type}/${entry.slug}`}
                  mainImage={{
                     src: entry.data.image,
                     alt: entry.data.main_image_alt
                  }}
                  loading={i <= 2 ? "eager" : "lazy"}
                  transition:animate="fade"
                  transition:name={`image:${entry.slug}-${entry.data.art_type}`}
               />
            </div>
         )
      })
   }
</div>