---
// import components
import FullArtwork from "../components/FullArtwork.astro";

const { artwork, showDescriptions } = Astro.props;
---

<div class="w-full grid grid-flow-dense gap-4 md:px-4 sm:grid-cols-2 lg:items-start xl:grid-cols-6" >
   {
      artwork.map((entry, i) => {
         // ${entry.data.image.width > entry.data.image.height ? "xl:col-span-4" : "xl:col-span-2"} 
         //          ${i % 3 === 2 && entry.data.image.width < entry.data.image.height ? "sm:col-span-2" : ""} 

         return (
            <div 
               class={`sm:col-span-1 md:col-span-1 xl:col-span-2
                  
               `}
            >
               <FullArtwork 
                  sold={entry.data.sold} 
                  title={entry.data.title} 
                  date={entry.data.date}
                  artType={entry.data.art_type}
                  href={`/${entry.data.art_type}/${entry.slug}`}
                  mainImage={{
                     src: entry.data.image,
                     alt: entry.data.main_image_alt
                  }}
                  loading={i <= 2 ? "eager" : "lazy"}
                  transition:animate="fade"
                  transition:name={`image:${entry.slug}-${entry.data.art_type}`}
               />
            </div>
         )
      })
   }
</div>