---
// import components
import FullArtwork from "../components/FullArtwork.astro";

const { artwork, showDescriptions } = Astro.props;
---

<div class="w-full grid grid-flow-dense gap-8 md:gap-4 md:px-4 lg:items-center lg:grid-cols-2 xl:grid-cols-3">
   {
      artwork.map((entry, i) => {
         return (
            <div 
               class={`
                  ${i % 2 === 1 && entry.data.image.width > entry.data.image.height ? "xl:col-span-2" : ""} 
                  ${i % 3 === 2 && entry.data.image.width < entry.data.image.height ? "lg:col-span-2" : ""}
               `}
            >
               <FullArtwork 
                  title={entry.data.title} 
                  date={entry.data.date}
                  artType={entry.data.art_type}
                  tags={entry.data.tags}
                  href={`${entry.data.art_type}/${entry.slug}`}
                  mainImage={{
                     src: entry.data.image,
                     alt: entry.data.main_image_alt
                  }}
                  images={entry.data.images}
                  description={showDescriptions && entry.data.description}
                  loading={i <= 2 ? "eager" : "lazy"}
               />
            </div>
         )
      })
   }
</div>