--- 
// Expose site configuration for CMS
import * as SitewideConfig from "../configuration/SitewideConfig.md";

//  import view transitions
import { ViewTransitions } from 'astro:transitions';

// import components
import Header from '../components/Header.astro';
import Footer from "../components/Footer.astro";

// import css
import '../styles/main.css'

const { pageTitle, options } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="">
	<head>
		<!-- Global meta tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<!-- Esssential meta tags -->
		<title>{`${SitewideConfig.frontmatter.site_name} - ${pageTitle}`}</title>
		<meta name="description" content={SitewideConfig.frontmatter.site_description}>

		<link
			rel="preload"
			href="/fonts/James-Arthur-Regular/james-arthur-regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin=""
		/>

		<link
			rel="preload"
			href="/fonts/Southampton/southampton.woff2"
			as="font"
			type="font/woff2"
			crossorigin=""
		/>
		
		<!-- // /////////////////////////////////////////////////
   		// WHENEVER VIEW TRANSITIONS API IS WIDELY AVAILABLE
   		// ///////////////////////////////////////////////// -->
		<!-- <ViewTransitions fallback="none" /> -->
	</head>
	<body class="bg-slate-50 dark:bg-slate-950 transition duration-700">
		<Header shadow={options?.headerShadow} />
		<slot />
		<Footer />
	</body>
</html>

<script>
	// /////////////////////////////////////////////////
   // WHENEVER VIEW TRANSITIONS API IS WIDELY AVAILABLE
   // /////////////////////////////////////////////////
	/*
	function setDarkMode() {
		if (localStorage.darkMode) {
			document.documentElement.dataset.dark = '';
		}
	};

	// Runs on initial navigation
	setDarkMode();
	// Runs on view transitions navigation
	document.addEventListener('astro:after-swap', setDarkMode);
	*/
</script>