--- 
// Astro
import { getEntry } from "astro:content";
import { Image } from "astro:assets";

// Expose site configuration for CMS
import * as SitewideConfig from "../configuration/SitewideConfig.md";

//  import view transitions
import { ViewTransitions } from 'astro:transitions';

// import components
// import MainFlexLayout from "./MainFlexLayout.astro";

// import layouts
import MainFlexLayout from "../components/layouts/MainFlexLayout.jsx";
import BodyLayout from "../components/layouts/BodyLayout.jsx";

// import components
import Header from "../components/Header.astro";

// import FALLBACK ogImage
const featuredArtwork = await getEntry('settings', 'main-hero');

// import css
import "inter-ui/inter.css";
import '../styles/main.css'

// import utils
import { titleCase } from "../utils/textTools.js"

const { pageTitle, ogTitle, ogDescription, ogImage, blurredBg } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class=""  >
	<head>
		<!-- // /////////////////////////////////////////////////
   		// WHENEVER VIEW TRANSITIONS API IS WIDELY AVAILABLE, TRY SPA Mode
   		// ///////////////////////////////////////////////// -->
		<ViewTransitions fallback="animate" />

		<!-- Global meta tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Esssential meta tags -->
		<title>{`${SitewideConfig.frontmatter.site_name} - ${titleCase(pageTitle)}`}</title>
		<meta name="description" content={SitewideConfig.frontmatter.site_description}>

		<!-- SEO -->
		<meta property="og:title" content={ogTitle}>
		<meta property="og:description" content={ogDescription}>
		<meta property="og:image" content={ogImage || featuredArtwork.data.image.src}>
		<meta property="og:url" content={`https://wendykauderer.com${Astro.url.pathname}`}>

		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#4c4c4c">
		<meta name="msapplication-TileColor" content="#ffffff">

		<!-- PageFind -->
		<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
		<script is:inline src="/pagefind/pagefind-ui.js"></script>

		<script is:inline>
			// Get theme 
			
			const theme = (() => {

				if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
					return localStorage.getItem("theme");
				}

				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					window.localStorage.setItem("theme", "system");
					return "dark";
					
				} else {
					window.localStorage.setItem("theme", "system");
					return "light";
				}

			})();

			if (theme === "light") {
			document.documentElement.classList.remove("dark");
			} else if (theme === "dark") {
				document.documentElement.classList.add("dark");
			} else if (theme === "system" ) {
				if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
					document.documentElement.classList.add("dark");
				} else {
					document.documentElement.classList.remove("dark");
				}
			}
			


			// Runs on view transitions navigation
			document.addEventListener('astro:after-swap', () => {
				
				// Get theme 
				const theme = (() => {

					if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
						return localStorage.getItem("theme");
					}

					if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
						window.localStorage.setItem("theme", "system");
						return "dark";
						
					} else {
						window.localStorage.setItem("theme", "system");
						return "light";
					}

				})();

				if (theme === "light") {
				document.documentElement.classList.remove("dark");
				} else if (theme === "dark") {
					document.documentElement.classList.add("dark");
				} else if (theme === "system" ) {
					if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
						document.documentElement.classList.add("dark");
					} else {
						document.documentElement.classList.remove("dark");
					}
				}
			})

			// window.localStorage.setItem("theme", theme);
		
			// /////////////////////////////////////////////////
			// WHENEVER VIEW TRANSITIONS API IS WIDELY AVAILABLE
			// /////////////////////////////////////////////////
			/*
			function setDarkMode() {
				if (localStorage.darkMode) {
					document.documentElement.dataset.dark = '';
				}
			};
		
			// Runs on initial navigation
			setDarkMode();
			// Runs on view transitions navigation
			document.addEventListener('astro:after-swap', setDarkMode);
			*/
		</script>

		<link
			rel="preload"
			href="/fonts/James-Arthur-Regular/james-arthur-regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin=""
		/>
		
	</head>
	<body class="flex flex-col min-h-screen relative bg-primary dark:bg-primary-dark">
		<!-- <BodyLayout>
			<Image slot="blurredBg" src={resolve} quality={1} width={50} height={100}  alt="" role="presentation" class=""/>
			<MainFlexLayout>
					<Header slot="header"/>
				
				<slot />
			</MainFlexLayout>
		</BodyLayout> -->
		{blurredBg &&
			<Image src={blurredBg} quality={1} width={50} height={100}  alt="" role="presentation" class="hidden pointer-events-none supports-filter:block absolute overflow-hidden object-cover w-full h-full [filter:blur(45px)contrast(0.3)saturate(6)]  animate-bgFadeIn dark:animate-bgFadeIn-dark"/>
		}
		<MainFlexLayout>
			<Header slot="header"/>
			<slot />
		</MainFlexLayout>

		
	</body>
</html>
