---
// Astro
import { getEntry } from "astro:content";

// Expose site configuration for CMS
import { frontmatter } from "../configuration/SitewideConfig.md";
const featuredTitle = frontmatter.homepage_featured_section_title;

// import layouts
import ArtworkGridLayout from "./ArtworkGridLayout.astro";

// import components
import SectionTitle from "../components/SectionTitle.astro";
import FullArtwork from "../components/FullArtwork.astro";
import ImageWrapper from "../components/ImageWrapper.astro";
import ImageCTA from "../components/ImageCTA.jsx";

// import Featured Artwork
const featuredArtwork = await getEntry('settings', 'main-hero');
const { Content } = await featuredArtwork.render();

// const allFeaturedArtwork = await getCollection('artwork', ({data}) => {
//    // prevent draft posts from showing in feature
//    return data.draft !== true && data.featured === true;
// });
// const featuredArtwork = allFeaturedArtwork.sort((a, b) => {
//    const latestToOldest = Date.parse(b.data.date) - Date.parse(a.data.date);

//    return latestToOldest;
// })
---

<section 
   class={`w-fit max-w-fit flex flex-col justify-center m-auto gap-4 lg:flex-row lg:pr-5 lg:gap-8`}
>
   <div class={`${featuredArtwork.data.image.width > featuredArtwork.data.image.height ? "max-w-lg" : "max-w-md"} md:max-w-screen-sm`}>
      <ImageWrapper 
         src={featuredArtwork.data.image}
         alt={featuredArtwork.data.image_alt}
         width={640}
         quality={50}
         loading="eager"
      />
   </div>
   <ImageCTA>
      <Content />
   </ImageCTA>

   <!-- <ArtworkGridLayout artwork={featuredArtwork} showDescriptions={true} /> -->
</section>