---
// Astro
import { getCollection } from 'astro:content';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {

   // create a Set of art_type's to limit params to avoid conflicting dyanamic routes
   const allArtTypes = new Set();

   // import tag collection
   const tagCollection = await getCollection('tags');

   // import all non-draft artwork
   const artworkEntries = await getCollection('artwork', ({data}) => !data.draft);

   // sort entries from latest to oldest
   const sortedEntries = artworkEntries.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));

   // map over each entry to grab its art_type and add it to the Set
   sortedEntries.map((entry) => {
      entry.data.art_type && allArtTypes.add(entry.data.art_type);
   })

   // return the paths of ONLY the art_type's
   return Array.from(allArtTypes).map((artType) => {

      // filter entries by art_type from the URL param
      const entriesByArtType = sortedEntries.filter((sortedEntry) => sortedEntry.data.art_type === artType )
      
      return {
         params: { 
            art_type: artType,
         }, 
         props: { 
            entries: entriesByArtType,
            tagCollection: tagCollection
         },
      }
   });
}

// 2. For your template, you can get the entry directly from the prop
const { entries, tagCollection } = Astro.props;
const params = Astro.params;

// import utils
import { titleCase } from "../../utils/textTools.js"

// import layout
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArtworkGridLayout from "../../layouts/ArtworkGridLayout.astro";

// import components
import SectionTitle from "../../components/SectionTitle.jsx";
import ArtTags from "../../components/ArtTags.jsx";
---

<BaseLayout pageTitle={`${titleCase(params.art_type)}s`}>

   <section class="relative">
      <div class="md:top-0 md:sticky md:z-20 flex flex-wrap lg:grid grid-cols-12 items-center justify-between py-2 mb-4 bg-transparent backdrop-blur-md">
         <SectionTitle 
            title={`${titleCase(params.art_type)}`} 
         />
         <nav class="col-span-9 col-start-4 items-start h-full">
            <ArtTags tags={tagCollection} classes="px-4" listClasses="lg:justify-end" />
         </nav>
      </div>

      <ArtworkGridLayout artwork={entries} />
   </section>
</BaseLayout>
