---
// Astro
import { getCollection } from 'astro:content';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {

   // import all non-draft artwork
   const artworkEntries = await getCollection('artwork', ({data}) => {
      return !data.draft;
   });

   return artworkEntries.map((entry) => ({
      params: { 
         art_type: entry.data.art_type,
         slug: entry.slug
      }, 
      props: { 
         entry,
      },
   }));

}

// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const params = Astro.params;

// import utils
import { titleCase } from "../../utils/textTools.js"

// import layout
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArtworkGridLayout from "../../layouts/ArtworkGridLayout.astro";

// import components
import SectionHero from "../../components/SectionHero.astro";

// import all macthing art_type artwork
const allArtwork = await getCollection('artwork', ({data}) => {
   return data.art_type === params.art_type;
});

// sort latest to oldest by default
const artwork = allArtwork.sort((a, b) => {
   const latestToOldest = Date.parse(b.data.date) - Date.parse(a.data.date);

   return latestToOldest;
})
---

<BaseLayout pageTitle={`${titleCase(params.art_type)}s`}>
   <SectionHero 
      title={`${titleCase(params.art_type)}s`} 
   />
   
   <section>
      <ArtworkGridLayout artwork={artwork} />
   </section>
</BaseLayout>
